/* Add application styles & imports to this file! */

*{
  background-color: cyan;
  color: black;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: center;
}

body{
  text-align: center;
  padding:  25px;
  margin: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  grid: 10px;
}

header > h2{
  padding: 25px;
}

header > h3{
  color: blueviolet;
}